@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Slackside+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------HEADER--------*/
h1 {
    width: 100%;
    height: 250px;
    color: white;
    font-size: 150px;
    font-family: "Kaushan Script", cursiva;
    text-align: center;
    background-image: url(../img/guarda.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
header a{
    text-decoration: none;
}
/*------INDEX------*/
.container-fluid {
    background-color:rgba(176, 143, 76, 0.897); ;
}
.navbar-brand {
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-link{
    color: rgba(0, 0, 0, 0.564);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;

}
.dropdown-item {
    color: rgba(176, 143, 76, 0.897);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 60px;
    
    
}
.card div {
    border: 2px rgb(89, 84, 84) solid;
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: -1px 1px 22px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 22px 1px rgba(0,0,0,0.75);
}
.boton {
    background-color: rgba(176, 143, 76, 0.897);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-size: 20px;
}
.card {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 550px;
    gap: 35px;

}
.card div img{
    width: 200px;
    height: 200px;
    margin: 20px;
    margin-bottom: 5px;
}
.card div h3{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 30px;
}


.ver{
background-color: rgba(176, 143, 76, 0.897);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 25px;
color: white;
text-decoration: none;
margin: 20px;
margin-left: 370px;
margin-right: 370px;
padding: 10px;
display: flex;
justify-content: center;
}

section h3 a{
    text-decoration: none;
    color: white;
}
.envio{
    color: rgb(59, 57, 57);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}
.envio img{
    width: 400px;
    height: 400px;
}

.envio p{
    margin-top: -50px;
}

/*-----PRODUCTOS------*/
.productos{
    display: flex;
    justify-content:space-around;
    background-color: black;
}

main section ul li{
    display: inline-block;
    color: rgb(112, 108, 108);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 15px;
    padding: 5px;
}
.whats img{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}


main h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(65, 62, 62);
    margin: 20px;
    margin-top: 40px;

}
main h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(65, 62, 62);
    margin-bottom: 20px;
}
main ol li p {
    text-align: justify;
    color: rgb(67, 69, 71);
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;

}

main form {
    padding-top: 60px;
    padding-left: 150px;
}

main form div {
    padding-top: 10px;
}



.grid-galeria{
    width: 80%;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 550px;
    gap: 35px;
}

.grid-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: -1px 1px 22px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 22px 1px rgba(0,0,0,0.75);
}

/*-------FOOTER--------*/
footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 35px;
    padding: 35px;
    background-color: gray;
}
footer div ul li h3{
    color: rgb(241, 239, 239);
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer div ul li{
    color: rgb(241, 239, 239);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}
footer div ul li a{
    color: rgb(241, 239, 239);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
footer div ul li img{
    width: 20px;
    height: 20px;
}
.foot{
    margin-top: 15px;

    padding-bottom: 10px;
}
@media screen and (max-width:940px){

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 550px;
        gap: 25px;
        }
    .ver{ 
        font-size: 15px;
        margin: 5px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    .grid-galeria{
        width: 80%;
        margin-top: 50px;
        margin-right: 80px;
        margin-left: 100px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 550px;
        gap: 25px;
        }
        
        .grid-galeria img {
            width: 80%;
            height: 80%;
            object-fit: cover;
        }
        main h2 {
            font-size: 25px;
            margin: 10px;
            margin-top: 20px;
        }
        main h3 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        main ol li p {
    
            padding-top: 20px;
            font-size: 15px;
            padding-left: 50px;
            padding-right: 50px;
        }
}
@media screen and (max-width: 800px) {
    h1 {
        height: 220px;
        font-size: 100px;
        color: rgb(221, 188, 122);
        vertical-align: middle;
        align-items: center;
    }
    footer div ul li h3{
        font-size: 25px;
    }
    footer div ul li{
        font-size: 15px;

    }
    footer div ul li a{
        font-size: 15px;
    }
    footer div ul li img{
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 700px) {

    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 550px;
        gap: 15px;
        }

    .grid-galeria{
        width: 80%;
        margin-top: 20px;
        margin-right: 50px;
        margin-left: 80px;
        grid-template-columns: 1fr ;
        grid-auto-rows: 550px;
        gap: 15px;
    }
    main h2 {
        font-size: 20px;
        margin: 10px;
        margin-top: 20px;
    }
    main h3 {
        font-size: 14px;
        margin-bottom: 15px;
    }
    main ol li p {

        padding-top: 20px;
        font-size: 10px;

        padding-left: 15px;
        padding-right: 15px;
    }

}


@media screen and (max-width: 560px) {
    
        .ver{
            font-size: 10px;
            margin: 0px;
            padding: 0px;
            }
        .envio{
            font-size: 20px;
            text-align: center;
        }
        .envio img{
            width: 300px;
            height: 300px;
        }
        .envio p{
            margin-top: -30px;
        }
        main form {
            padding-left: 50px;
        }
        footer {
            flex-direction: column;
        }
        footer div ul li h3{
            margin-top: 15px;
            font-size: 20px;
        }
        footer div ul li{
            font-size: 12px;
    
        }
        footer div ul li a{
            font-size: 12px;
        }
        footer div ul li img{
            width: 12px;
            height: 12px;
        }
        .foot{
            margin-top: 5px;
        
            padding-bottom: 5px;
        }
}

